<h3>Hi</h3>
<h3>Use the otp below to reset your password, Thank you</h3>

<h1>{{resetOtp}}</h1>
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
<p>Do not share this OTP with anyone.
</p>
<p>Thank you!"
</p>