<h3>Dear {{name}}</h3>
<h3>You are welcome to Efiko Learning</h3>
<h3>Use the otp below to verify your account, Thank you</h3>

<h3>{{emailOtp}}</h3>
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
<p>Do not share this OTP with anyone.
</p>
<p>Thank you!
</p>