<h3>Hi {{name}},</h3>
<h2>Welcome to SUFIAN BLES</h2>
<h2>We are positive that you will have a wonderful experience</h2>

{{!-- <h5>{{emailOtp}}</h5> --}}
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
{{!-- <p>Do not share this OTP with anyone. --}}
{{!-- </p> --}}
<p>Thank you!"
</p>